[Unit]
Description=Runs a continuous loop of image captures from the camera
BindTo=kittycam.service

[Service]
EnvironmentFile=/usr/local/KittyCam/kittycam/systemd.conf
ExecStart=/usr/local/KittyCam/kittycam/raspivid.sh

[Install]
WantedBy=multi-user.target

