[Unit]
Description=Disables transparent hugepages before MongoDB starts
Before=mongod.service

[Service]
User=root
ExecStart=/usr/bin/disable-transparent-hugepages.sh

[Install]
WantedBy=multi-user.target
